
ch02/clock_gettime_loop
ch02/pointer
ch02/table
ch02/clock_gettime
ch02/pointer1
ch02/rdtsc
ch02/hello
ch02/memory_layout
ch06/dir3
ch06/gettime
ch06/dir2
ch06/getresuid
ch06/listattr
ch06/list_acl_simple
ch06/dir
ch06/chmod
ch06/list_acl
ch06/inotify
ch06/link
ch06/hw5
ch06/rename
ch06/chowngrp2root
ch06/listDirRec
ch06/name2id
ch06/change
ch05/mktemp
ch05/write+read
ch05/fileperf
ch05/strlen
ch05/append+fseek
ch05/fprintf
ch05/wcslen
ch05/setvbuf
ch05/hello_cht
ch05/feof
ch05/fopen
fileperf
a.out
ch04/mmap_cp
ch04/mycp1
ch04/mycp2
ch04/syncNone
ch04/syncDataOnly
ch04/perror
ch04/hole
ch04/sync
ch04/flock
ch04/vio
ch04/lockf
avx512
printf
showexeName
