
ch02/clock_gettime_loop
ch02/pointer
ch02/table
ch02/clock_gettime
ch02/pointer1
ch02/rdtsc
ch02/hello
ch02/memory_layout
ch06/dir3
ch06/gettime
ch06/dir2
ch06/getresuid
ch06/listattr
ch06/list_acl_simple
ch06/dir
ch06/chmod
ch06/list_acl
ch06/inotify
ch06/link
ch06/hw5
ch06/rename
ch06/chowngrp2root
ch06/listDirRec
ch06/name2id
ch06/change
ch05/mktemp
ch05/write+read
ch05/fileperf
ch05/strlen
ch05/append+fseek
ch05/fprintf
ch05/wcslen
ch05/setvbuf
ch05/hello_cht
ch05/feof
ch05/fopen
fileperf
a.out
ch04/mmap_cp
ch04/mycp1
ch04/mycp2
ch04/syncNone
ch04/syncDataOnly
ch04/perror
ch04/hole
ch04/sync
ch04/flock
ch04/vio
ch04/lockf
avx512
printf
showexeName
ch06/watchFile
ch08/atexit
ch08/cpu_set
ch08/echo
ch08/getEnv
ch08/listEnv
ch08/myNice
ch08/on_exit
ch08/vfork8
ch09/debugFork1
ch09/debugFork2
ch09/fork1
ch09/manyFork
ch09/manyVFork
ch09/_myShell
ch09/myShell
ch09/NoZombie
ch09/testDebug
ch09/testStack
ch09/wait
ch09/zombie
ch09/fork2
ch11/fifo1
ch11/fifo2-r
ch11/fifo2-w
ch11/pipe1
ch11/pipe2
ch11/pipe3
ch11/pipe4-2
ch11/pipe4-3
ch11/pipe4
ch11/pipe-perf2
ch11/pipe-perf
ch12/06-03
ch12/alignedas
ch12/cpuShowAffinity
ch12/instructionReordering
ch12/isItSupportC11thread
ch12/lockfreeQueue
ch12/memoryModel_assembly
ch12/memoryModel_reorder
ch12/mutex_adaptive
ch12/perfrecord
ch12/perfstat
ch12/readWriteShareVar
ch12/rwspinlock
ch12/seqlock_acquire_release
ch12/seqlock
ch12/signal-wait_adptive_mutex
ch12/signal-wait_mutex
ch12/signal-wait_semaphore
ch12/signal-wait_spinlock
ch12/spinlock
ch12/table
ch12/testPerf
ch12/thread_local_storage
ch12/thread_print_id
ch12/ticketlock
ch12/timedetail
ch12/volitailPtr
